<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-400">
    <div class="login-form border-black border-solid border-2 text-center p-3 max-w-80 mx-auto rounded-lg bg-green-600 mt-24">
        <span class="font-bold text-2xl mb-0"><i class="fa-solid fa-user-plus  text-blue-700 "></i></span>
        <h1 class="font-bold font-sans text-3xl text-amber-700 mb-2 p-2 text-center pt-0">Sign up Here </h1>
        <form action="" method="post" id="form">
            <label for="name" class="font-bold text-slate-500-600 text-base "> Name</label>
            <br>
            <input id="name" type="text" name="name" placeholder="Enter Name..." required class="outline-none border-solid border-2 border-gray-600 w-[90%] mx-auto rounded-lg px-3 py-2 mt-1 font-light">
            <br><br>
            <label  for="mail" class="font-bold text-slate-500-600 text-base"><i class="fa-solid fa-envelope"></i> Mail</label>
            <br>
            <input id="mail" class="outline-none border-solid border-2 border-gray-600 w-[90%] mx-auto rounded-lg px-3 py-2 mt-1 font-light" type="email" name="mail" required placeholder="Enter mail... ">
            <br><br>
            <label for="password" class="font-bold text-slate-500-600 text-base"><i class="fa-solid fa-lock"></i> password</label>
            <br>
            <input id="password" class="outline-none border-solid border-2 border-gray-600 w-[90%] mx-auto rounded-lg px-3 py-2 mt-1 font-light" type="password" name="password" required>
            <br>
            <button class="   rounded-lg px-3 py-2 my-3 bg-purple-700">Submit</button>
        </form>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
<script>
    let form=document.querySelector("#form");
    form.addEventListener('submit',(event)=>{
        event.preventDefault();
        let name=event.target.name.value;
        let mail=event.target.mail.value;
        let password=event.target.password.value;
        fetchByEmail(mail).then((result)=>{
            if(result.data.length==0){
                
                let userDetails={
                    name:name,
                    email:mail,
                    password:password
                }
                CreateUser(userDetails).then((result)=>{
                    event.target.name.value='';
                    event.target.mail.value='';
                    event.target.password.value='';
                }).catch((error)=>{
                    console.log(error);
                })
            }
            else{
                alert("Already registered ")
            }
        }).catch((error)=>{
            console.log(error)
        })
        
    })
    function CreateUser(userDetails){
        return axios.post("http://localhost:4000/User/create-data", userDetails)
    }
    function fetchByEmail(email){
        return axios.get(`http://localhost:4000/User/get-by-email?email=${email}`);
    }
</script>
</html>